<mat-table [dataSource]="dictionaries">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let dictionary"> {{dictionary.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let dictionary"> {{dictionary.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="published">
    <mat-header-cell *matHeaderCellDef> Published </mat-header-cell>
    <mat-cell *matCellDef="let dictionary"> {{dictionary.published}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="selectDictionary(row)"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
