<div>
  <mat-list>
    <mat-list-item>Concept Set Name</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>More Concept Set</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>More Concept Set</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>More Concept Set</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>More Concept Set</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>More Concept Set</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>More Concept Set</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<button mat-raised-button color="primary">CREATE</button>
