div {
  padding-right: 25%;
  position: relative;
}

#close-button {
  color: red;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: bold;
}

#close-button:hover {
  cursor: pointer;
}

form {
  mat-form-field, mat-slide-toggle {
    width: 49%;
    padding-right: 10px;
    textarea {
      height: 98px;
      max-height: 98px;
    }
  }
}

.concept-set-ref-container {
  width: 50%;
}

.actions-container {
  display: flex;
  align-items: center;
  button {
    margin-right: 20px;
  }
}
