div {
  width: 75%;
}

form {
  mat-form-field, mat-slide-toggle {
    width: 49%;
    padding-right: 10px;
    textarea {
      height: 98px;
      max-height: 98px;
    }
  }
}

.concept-set-ref-container {
  width: 50%;
}

.actions-container {
  display: flex;
  align-items: center;
  button {
    margin-right: 20px;
  }
}
