.concept-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10%;
  min-width: 125px;
  button {
    width: 100%;
    margin: 5px;
  }
}

div {
  position: relative;
}

.concept-manager-container {
  display: flex;
  height: 50%;
  margin-bottom: 30px;
  .concept-table {
    width: 45%;
    height: 100%;
    overflow: scroll;
    .mat-column-sortOrder {
      max-width: 10%;
    }
    .mat-column-omopConceptId {
      max-width: 25%;
    }
    .mat-column-selection {
      max-width: 10%;
    }
  }

  .lookup-table {
    width: 45%;
    height: 100%;
    overflow: scroll;
    .mat-column-selection {
      max-width: 10%;
    }
  }
  div {
    margin: 10px;
  }
}

mat-row:hover {
  cursor: move;
}

#close-button {
  color: red;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: bold;
}
#close-button:hover {
  cursor: pointer;
}
.actions-container {
  display: flex;
  align-items: center;
  button {
    margin-left: 20px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

form {
  display: flex;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-right: 20px;
    mat-form-field {
      width: 100%;
      textarea {
        height: 98px;
        max-height: 98px;
      }
    }
  }
}
