<form>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name">
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description">
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Assigned To</mat-label>
    <input matInput placeholder="Assigned To">
    <mat-error></mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput placeholder="ID">
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Original ID</mat-label>
    <input matInput placeholder="Original ID">
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Published</mat-label>
    <input matInput placeholder="Published">
    <mat-error></mat-error>
  </mat-form-field>
</form>
<div class="concept-manager-container">
  <div class="concept-table">
    <mat-table #selectedSort='matSort' [dataSource]="setConcepts" matSort>
      <ng-container matColumnDef="selection">
        <mat-header-cell *matHeaderCellDef> <mat-checkbox></mat-checkbox></mat-header-cell>
        <mat-header-cell *matCellDef="let concept"><mat-checkbox [ngModel]="concept.selected"></mat-checkbox></mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="value.omopConceptId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
        <mat-cell *matCellDef="let concept">{{concept.value.omopConceptId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="value.defaultLabel">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let concept">{{concept.value.defaultLabel}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="value.sortOrder">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order</mat-header-cell>
        <mat-cell *matCellDef="let concept">{{concept.value.sortOrder}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="setColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: setColumns"></mat-row>
    </mat-table>
  </div>
  <div class="concept-button-container">
    <button mat-raised-button color="primary" (click)="add()"><-- ADD</button>
    <button mat-raised-button color="secondary">Remove--></button>
    <br>
    <button mat-raised-button color="primary">Assign Order</button>
    <br>
    <button mat-raised-button color="secondary">Move Up</button>
    <button mat-raised-button color="secondary">Move Down</button>
  </div>
  <div class="lookup-table">
    <mat-form-field appearance="fill">
      <mat-select placeholder="Lookup Tables" (selectionChange)="getLookupConcepts($event)">
        <mat-option *ngFor="let table of lookupTables" [value]="table">{{table.srcTablename}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-table #lookupSort='matSort' [dataSource]="lookupConcepts" matSort>
      <ng-container matColumnDef="selection">
        <mat-header-cell *matHeaderCellDef><mat-checkbox></mat-checkbox></mat-header-cell>
        <mat-cell *matCellDef="let concept"><mat-checkbox [(ngModel)]="concept.selected" (change)="selectLookup(concept)"></mat-checkbox></mat-cell>
      </ng-container>
      <ng-container matColumnDef="value.omopConceptId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
        <mat-cell *matCellDef="let concept">{{concept.value.omopConceptId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="value.name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let concept">{{concept.value.name}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="lookupColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: lookupColumns"></mat-row>
    </mat-table>
  </div>
</div>
