mat-list {
  max-height: 325px;
  overflow-y: scroll;
  border: gray 1px solid;
  span {
    display: flex;
    align-items: center;
    mat-checkbox {
      margin-left: 5px;
    }
    mat-list-item {
      border-bottom: gray 1px solid;
    }
  }
  span:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}
